{% extends 'public_interface/base.html' %}


{% block content %}
<div class="explorer-container">
  <div class="container">
    <div class="row">

      <div class="col-sm-6 col-md-5 col-lg-6">
        <h3>{{ item.code }} {{ item.genus }} {{ item.species }}
            {% if item.auctor != None %}
              {{ item.auctor }}
            {% endif %}
        </h3>

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><b>Specimen name</b></h3>
          </div>

          <table class="table table-condensed table-striped">
            <tr>
              <td><b>Order:</b></td>
              <td>{{ item.orden }}</td>

              <td><b>Genus:</b></td>
              <td>{{ item.genus }}</td>
            </tr>
            <tr>
              <td><b>Superfamily:</b></td>
              <td>{{ item.superfamily }}</td>

              <td><b>Species:</b></td>
              <td>{{ item.species }}</td>
            </tr>
            <tr>
              <td><b>Family:</b></td>
              <td>{{ item.family }}</td>

              <td><b>Subspecies:</b></td>
              <td>{{ item.subspecies }}</td>
            </tr>
            <tr>
              <td><b>Subfamily:</b></td>
              <td>{{ item.subfamily }}</td>

              <td><b>Host org.:</b></td>
              <td>{{ item.hostorg }}</td>
            </tr>
            <tr>
              <td><b>Tribe:</b></td>
              <td>{{ item.tribe }}</td>

              <td><b>Author:</b></td>
              <td>{{ item.auctor }}</td>
            </tr>
            <tr>
              <td><b>Subtribe:</b></td>
              <td>{{ item.subtribe }}</td>

              <td><b>Type species?</b></td>
              <td>
                {% if item.typeSpecies == 'd' %}
                don't know
                {% elif item.typeSpecies == 'y' %}
                yes
                {% elif item.typeSpecies == 'n' %}
                no
                {% endif %}
              </td>
            </tr>
          </table>
        </div><!-- panel -->


        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><b>Locality Information</b></h3>
          </div>

          <table class="table table-condensed table-striped">
            <tr>
                <td colspan="2"><b>Country:</b></td>
                <td colspan="2">{{ item.country }}</td>
            </tr>
            <tr>
                <td colspan="2"><b>Specific Locality:</b></td>
                <td colspan="2">{{ item.specificLocality }}</td>
            </tr>

            <tr>
              <td><b>Latitude:</b></td>
              <td>{{ item.latitude }}</td>
              <td><b>Max. altitude:</b></td>
              <td>{{ item.max_altitude }}</td>
            </tr>
            <tr>
              <td><b>Longitude:</b></td>
              <td>{{ item.longitude }}</td>
              <td><b>Min. altitude:</b></td>
              <td>{{ item.min_altitude }}</td>
            <tr>
          </table>
        </div><!-- panel -->


        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><b>Collector Information</b></h3>
          </div>

          <table class="table table-condensed table-striped">
            <tr>
              <td><b>Code in genomeseq:</b></td>
              <td><b>Collector:</b></td>
              <td><b>Collection date:</b></td>
            </tr>
            <tr>
              <td>{{ item.code }}</td>
              <td>{{ item.collector }}</td>
              <td>{{ item.dateCollection }}</td>
            </tr>
            <tr>
              <td><b>Voucher locality:</b></td>
              <td><b>Voucher status:</b></td>
              <td><b>Sex:</b></td>
            </tr>
            <tr>
              <td>{{ item.voucherLocality }}</td>
              {% if item.voucher == 's' %}
                <td>Spread</td>
              {% elif item.voucher == 'e' %}
                <td>In envelope</td>
              {% elif item.voucher == 'p' %}
                <td>Only photo</td>
              {% elif item.voucher == 'n' %}
                <td>No voucher</td>
              {% elif item.voucher == 'd' %}
                <td>Destroyed</td>
              {% elif item.voucher == 'l' %}
                <td>Lost</td>
              {% else %}
                <td></td>
              {% endif %}

              {% if item.sex == 'm' %}
                <td>Male</td>
              {% elif item.sex == 'f' %}
                <td>Female</td>
              {% elif item.sex == 'l' %}
                <td>Larva</td>
              {% elif item.sex == 'w' %}
                <td>Worker</td>
              {% elif item.sex == 'q' %}
                <td>Queen</td>
              {% else %}
                <td></td>
              {% endif %}
            </tr>
            <tr>
              <td><b>Voucher code:</b></td>
              <td><b>Determined by:</b></td>
              <td></td>
            </tr>
            <tr>
              <td>{{ item.voucherCode }}</td>
              <td>{{ item.determinedBy }}</td>
            </tr>
          </table>
        </div><!-- panel -->


        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><b>Publication and Notes</b></h3>
          </div>

          <table class="table table-condensed table-striped">
            <tr>
              <td><b>Published in:</b></td>
              <td><b>Notes:</b></td>
            </tr>
            <tr>
              <td>{{ item.publishedIn }}</td>
              <td>{{ item.notes }}</td>
            </tr>
          </table>
        </div><!-- panel -->

      </div><!-- col -->


      <div class="col-sm-6 col-md-5 col-lg-6">
        <h3>Voucher Images</h3>
        <div class="panel panel-default">
          <div class="panel-body">
            {% for image in images %}
              <a href="{{ image.voucherImage }}"><img class="img-thumbnail" src="{{ image.thumbnail }}" /></a>
            {% endfor %}
          </div>
        </div><!-- panel -->

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><b>DNA</b></h3>
          </div>

          <table class="table table-condensed table-striped">
            <tr>
              <td><b>Extraction:</b></td>
              <td><b>Tube:</b></td>
            </tr>
            <tr>
              <td>{{ item.extraction }}</td>
              <td>{{ item.extractionTube }}</td>
            </tr>
            <tr>
              <td><b>Extractor:</b></td>
              <td><b>Date:</b></td>
            </tr>
            <tr>
              <td>{{ item.extractor }}</td>
              <td>{{ item.dateExtraction }}</td>
            </tr>
          </table>
        </div><!-- panel -->

        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title"><b>Sequence Information</b></h3>
          </div>

          <table class="table table-condensed table-striped">
            <tr>
              <td><b>Region</b></td>
              <td><b>bp</b></td>
              <td><b>amb.</b></td>
              <td><b>Lab.</b></td>
              <td><b>Accession</b></td>
              <td><b>local Blast</b></td>
              <td><b>ncbi Blast</b></td>
            </tr>
            {% for item in sequences %}
            <tr>
              <td><a href="/s/{{ item.code.code }}/{{ item.gene_code }}/">{{ item.gene_code }}</a></td>
              <td>{{ item.sequence_length }}</td>
              <td>{{ item.ambiguous_seq_length }}</td>
              <td>{{ item.labPerson }}</td>
              <td><a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Search&db=nucleotide&term={{ item.accession }}[accn]&doptcmdl=GenBank">{{ item.accession }}</a></td>
            </tr>
            {% endfor %}
          </table>
        </div><!-- panel -->


      </div><!-- col -->

      <div class="col-lg-1">
        {% block toolbox %}
          {% include "public_interface/toolbox.html" %}
        {% endblock toolbox %}
      </div><!-- col -->

    </div><!-- row -->
  </div><!-- container -->
</div>
{% endblock content %}
