{% extends 'public_interface/base.html' %}


{% block content %}
<div class="explorer-container">
  <div class="container">
    <h3>Enter query sequence for local blast:</h3>

    <form action="/blast_new/results/" method="post">

    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-10  col-md-8 col-md-offset-1 col-lg-8 ">
        {% csrf_token %}

        {{ form }}

          <input type="submit" value="Submit" />
        </div><!-- col -->

      </div><!-- row -->
    </div><!-- container -->

    </form>

  </div>
</div>
{% endblock content %}
