<footer>
  <div class="container">

    <p class="text-center">
      <small>
        2015 VoSeq
        <a href="https://github.com/carlosp420/VoSeq/blob/master/HISTORY.md"> {{ version }}</a>
        Logged in as: Victor Solis. <a href="#">Logout</a><br />
        Now with {{ stats.vouchers }} vouchers,
        over {{ stats.orders }} orders,
        {{ stats.families }} familes,
        {{ stats.genera }} genera and
        {{ stats.species }} species,
        with together {{ stats.sequences }} sequences!
      </small>
    </p>

  </div>
</footer>