<footer>
  <div class="container">

    <p class="text-center">
      <small>
        2015 VoSeq
        <a href="https://github.com/carlosp420/VoSeq/blob/master/HISTORY.rst"> {{ version }}</a>.
        {% if username != 'Guest' %}
          Logged in as: <b>{{ username }}</b>.
          <a href="/accounts/logout/">Logout.</a><br />
        {% else %}
          As Guest.
          <a href="/accounts/login/">Login.</a><br />
        {% endif %}

        Now with {{ stats.vouchers }} vouchers,
        over {{ stats.orders }} orders,
        {{ stats.families }} familes,
        {{ stats.genera }} genera and
        {{ stats.species }} species,
        with together {{ stats.sequences }} sequences!
      </small>
    </p>

  </div>
</footer>
