<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-sm-8">

        <div class="container">
          <h1>VoSeq</h1>
          <p>a manager of molecular sequences for phylogenetic
            inference.</p>

          <br />
          <br />
          <p><a class="btn btn-info btn-lg" role="button">Learn more</a></p>
          <p>
            This application is based on the robust famework Django. It is scalable and expandable
            by including plugins (Django apps).
          </p>
        </div>

      </div>
<!--      <div class="col-xs-4 col-sm-4">
        <h2>Log into this installation of VoSeq.</h2>

        <form class="form-horizontal" role="form">
          <div class="form-group">
            <div class="col-sm-10 input-group margin-bottom-sm">
              <span class="input-group-addon"><i class="fa fa-envelope-o fa-fw"></i></span>
              <input type="email" class="form-control" id="inputEmail3"  placeholder="Email address">
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-10 input-group">
              <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
              <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
            </div>
          </div>

          <div class="form-group">
            <div class="col-sm-10 input-group">
              <button type="submit" class="btn btn-primary">Sign in</button>
            </div>
          </div>
        </form>
      </div>-->

     </div>

  </div>

</div>


