Carlos Peña <mycalesis@gmail.com>
Carlos Peña <mycalesis@gmail.com> <carlos@hiplead.com>
Camiel Doorenweerd <c.doorenweerd@gmail.com>
Making GitHub Delicious <iron@waffle.io>
The Gitter Badger <badger@gitter.im>
Victor Solis <vm_solism@yahoo.es>
Victor Solis <vm_solism@yahoo.es> <mezarino@users.noreply.github.com>
