{% extends 'public_interface/base.html' %}
{% load humanize %}

{% block content %}
<div class="explorer-container">
  <div class="container">
    <h3>Gene {{ item.gene_code }}:</h3>

    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-10  col-md-8 col-md-offset-1 col-lg-8 ">
          {% if item != '' %}


          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"><b>Gene information</b></h3>
            </div>

            <table class="table table-condensed table-striped">
              <tr>
                <td><b>Gene code:</b></td>
                <td>{{ item.gene_code }}</td>
                <td><b>Aligned or not?:</b></td>
                <td>{{ item.aligned }}</td>
                <td><b>Length (if aligned):</b></td>
                <td>{{ item.length|intcomma }} bp</td>
              </tr>

              <tr>
                <td><b>Description:</b></td>
                <td colspan="5">{{ item.description }}</td>
              </tr>
              <tr>
                <td><b>Notes:</b></td>
                <td colspan="5">{{ item.notes }}</td>
              <tr>
              <tr>
                <td><b>Gene type:</b></td>
                <td colspan="5">{{ item.gene_type }}</td>
              <tr>
            </table>
          </div><!-- panel -->


          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"><b>Protein coding genes</b></h3>
            </div>

            <table class="table table-condensed table-striped">
              <tr>
                <td colspan="6" class="info"><b>This section is only applicable for protein
                                 coding genes/alignments</b>
                </td>
              </tr>
              <tr>
                <td><b>Protein coding:</b></td>
                <td>{{ item.prot_code }}</td>
                <td><b>Reading frame:</b></td>
                <td>{{ item.reading_frame }}</td>
              </tr>

              <tr>
                <td><b>Translation table:</b></td>
                <td colspan="3">
                  {% if item.genetic_code == 1 %}
                    Standard
                  {% elif item.genetic_code == 2 %}
                    Vertebrate Mitochondrial
                  {% elif item.genetic_code == 3 %}
                    Yeast Mitochondrial
                  {% elif item.genetic_code == 4 %}
                    Mold, Protozoan and Coelenerate Mitochondrial. Mycoplasma,
                    Spiroplasma
                  {% elif item.genetic_code == 5 %}
                    Invertebrate Mitochondrial
                  {% elif item.genetic_code == 6 %}
                    Ciliate Nuclear; Dasycladacean Nuclear; Hexamita Nuclear
                  {% elif item.genetic_code == 9 %}
                    Echinoderm Mitochondrial
                  {% elif item.genetic_code == 10 %}
                    Euplotid Nuclear
                  {% elif item.genetic_code == 11 %}
                    Bacterial and Plant Plastid
                  {% elif item.genetic_code == 12 %}
                    Alternative Yeast Nuclear
                  {% elif item.genetic_code == 13 %}
                    Ascidian Mitochondrial
                  {% elif item.genetic_code == 14 %}
                    Flatowrm Mitochondrial
                  {% elif item.genetic_code == 15 %}
                    Blepharisma Mitochondrial
                  {% elif item.genetic_code == 16 %}
                    Chlorophycean Mitochondrial
                  {% elif item.genetic_code == 21 %}
                    Trematode Mitochondrial
                  {% elif item.genetic_code == 22 %}
                    Scenedesmus obliquus Mitochondrial
                  {% elif item.genetic_code == 23 %}
                    Thraustochytrium Mitochondrial code
                  {% endif %}
                </td>
              </tr>
            </table>
          </div><!-- panel -->


          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title"><b>Introns</b></h3>
            </div>

            <table class="table table-condensed table-striped">
              <tr>
                <td><b>Introns:</b></td>
                <td>{{ item.intron|safe }}</td>
              </tr>
            </table>
          </div><!-- panel -->
          {% else %}
            <h4>We don't have that gene in our database.</h4>
          {% endif %}
        </div><!-- col -->

      </div><!-- row -->
    </div><!-- container -->
  </div>
</div>
{% endblock content %}
