body {
	margin:0;
	font-family:"Trebuchet MS", Arial, Verdana;
	font-size:0.74em;
	color:#555555;
	background-color:#FFFFFF;
	text-align:left;
}
.textfield {
	font-size: 11px;
	color: #333333;
	background: #F7F7F7;
	border: 1px solid #CCCCCC;
	padding-left: 1px;
}
h1 {
	color: #99CC00;
	margin: 0px 0px 5px;
	padding: 0px 0px 3px;
	font: bold 18px Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 1px dashed #E6E8ED;
}
h2 {
	color: #99CC00;
	margin: 0px 0px 5px;
	padding: 0px 0px 3px;
	font: bold 18px Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 1px dashed #E6E8ED;
}
h3 {
	color: #99CC00;
	margin: 0px 0px 5px;
	padding: 0px 0px 3px;
	font: bold 18px Verdana, Arial, Helvetica, sans-serif;
	border-bottom: 1px dashed #E6E8ED;
}
a {
	color:#4D87CE;
	font-weight:bold;
	text-decoration:underline;
}
a:hover {
	color:#2a65ad;
	text-decoration: none;
}

.err {
	color: #FF9900;
}
th {
	font-weight: bold;
	text-align: left;
}

#new_version {
	font-family:"Verdana", Arial, sans-serif;
	font-size:12px;
	font-weight:bold;
	color: white;
	background-color: red;
	width: 200px;
	text-align: center;
	padding: 4px;
	margin: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
