<h2>Tools:</h2>

<div class="list-group">
  <a class="list-group-item" href="/blast_new/"><i class="fa fa-bomb fa-fw"></i>&nbsp; Blast new sequence</a>
  <a class="list-group-item" href="/view_table/"><i class="fa fa-table fa-fw"></i>&nbsp; Interactive overview table</a>
  <a class="list-group-item" href="/genes/"><i class="fa fa-user-md fa-fw"></i>&nbsp; View genes</a>
  <a class="list-group-item" href="/create_dataset/"><i class="fa fa-align-justify fa-fw"></i>&nbsp; Create new dataset</a>
  <a class="list-group-item" href="/create_voucher_table/"><i class="fa fa-table fa-fw"></i>&nbsp; Create Voucher table</a>
  <a class="list-group-item" href="/create_gene_table/"><i class="fa fa-table fa-fw"></i>&nbsp; Create Gene table</a>
  <a class="list-group-item" href="/genbank_fasta/"><i class="fa fa-file-text-o fa-fw"></i>&nbsp; Create Genbank FASTA file</a>
  <a class="list-group-item" href="/share_data_gbif/"><i class="fa fa-share-alt fa-fw"></i>&nbsp; Share data with GBIF</a>
</div>
