{% extends 'public_interface/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  Add Gene - VoSeq
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row">
      <h2>Add a new gene</h2>
    </div>
    <div class="row">
      <div class="col-lg-10">
        <form method="post" class="uniForm" action="{% url 'public_interface:add_gene' %}">
          {% csrf_token %}
          {{ form|crispy }}

          {% if update is True %}
            <button type="submit" name="update" class="btn btn-primary btn-lg">
              Update
            </button>
          {% else %}
            <button type="submit" name="create" class="btn btn-primary btn-lg">
              Create
            </button>
          {% endif %}
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
