{% extends 'public_interface/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
  Upload Sequences - VoSeq
{% endblock title %}

{% block content %}
  <div class="container">
    <div class="row">
      <h2>Upload sequences from a CSV file</h2>
    </div>
    <div class="row">
      <div class="col-lg-10">
        <p>This importer will import the following fields:
        <pre>
            code, gene_code, accession, lab_person, notes,
            sequences
        </pre>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-10">
        <form method="post" class="uniForm" action="{% url 'public_interface:upload_sequences' %}"
              method="post" enctype="multipart/form-data">
          {% csrf_token %}
          <input type="file" name="csv_file" accept="text/csv" />
          <button type="submit" name="upload" class="btn btn-primary btn-lg">
            Upload
          </button>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
