{% extends 'public_interface/base.html' %}

{% block title %}
  VoSeq | Overview table
{% endblock title %}

{% load staticfiles %}
{% block additional_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap.css' %}">
{% endblock additional_css %}

{% block content %}
<div class="explorer-container">
  <div class="container">
    <h3>Interactive overview table:</h3>


    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-12  col-md-11 col-lg-11">



          <table id="datatable" class="display table table-striped table-hover">
              <thead>
                  <tr>
                      <th>Column 1</th>
                      <th>Column 2</th>
                  </tr>
              </thead>
              <tbody>
                  <tr>
                      <td>Row 1 Data 1</td>
                      <td>Row 1 Data 2</td>
                  </tr>
                  <tr>
                      <td>Row 2 Data 1</td>
                      <td>Row 2 Data 2</td>
                  </tr>
              </tbody>
          </table>


        </div><!-- col -->

      </div><!-- row -->
    </div><!-- container -->


  </div>
</div>
{% endblock content %}


{% block additional_javascript_footer %}
  <script type="text/javascript" charset="utf8" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" charset="utf8" src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
<script>
  $(document).ready( function () {
      $('#datatable').DataTable();
  } );
</script>

{% endblock additional_javascript_footer %}
