{% extends 'public_interface/base.html' %}

{% block title %}
  VoSeq | Overview table
{% endblock title %}

{% load staticfiles %}
{% block additional_css %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/dataTables.bootstrap.css' %}">
{% endblock additional_css %}

{% block content %}
<div class="explorer-container">
  <div class="container">
    <h3>Interactive overview table:</h3>


    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-12  col-md-11 col-lg-11">


          <table class="table table-condensed table-striped small_fonts">
            {% for i in genes %}
              {% if forloop.counter == 1 %}
                <tr>
              {% endif %}
                  <td>
                    <input type="checkbox" class="toggle-vis" data-column="{{ forloop.counter|add:"6" }}" />
                    {{ i.gene_code }}
                  </td>
              {% if forloop.counter|divisibleby:"4" %}
                </tr>
              {% endif %}

            {% endfor %}
            </tr>
          </table>

          <table id="datatable" class="display table table-striped table-hover">
              <thead>
                  <tr>
                    <th>Code</th>
                    <th>Order</th>
                    <th>Family</th>
                    <th>Subfamily</th>
                    <th>Genus</th>
                    <th>Species</th>
                    <th>Host org.</th>
                    {% for i in genes %}
                      <th>{{ i.gene_code }}</th>
                    {% endfor %}
              </thead>
              <tbody>

                {% for item in data %}
                  <tr>
                    <td><a href="/p/{{ item.code }}/">{{ item.code }}</a></td>
                    <td>{{ item.orden }}</td>
                    <td>{{ item.family }}</td>
                    <td>{{ item.subfamily }}</td>
                    <td>{{ item.genus }}</td>
                    <td>{{ item.species }}</td>
                    <td>{{ item.hostorg }}</td>
                    {% for k, v in item.sequences.items %}
                      <td>{{ v }}</td>
                    {% endfor %}
                  </tr>
                {% endfor %}

              </tbody>
          </table>


        </div><!-- col -->

      </div><!-- row -->
    </div><!-- container -->


  </div>
</div>
{% endblock content %}


{% block additional_javascript_footer %}
  <script type="text/javascript" charset="utf8" src="{% static 'js/jquery.dataTables.min.js' %}"></script>
  <script type="text/javascript" charset="utf8" src="{% static 'js/dataTables.bootstrap.min.js' %}"></script>
<script>
  $(document).ready( function () {
      var table = $('#datatable').DataTable();

      $('input.toggle-vis').on('click', function(e) {
        e.preventDefault();

        // Get the column API object
        var column = table.column( $(this).attr('data-column') );

        // Toggle the visibility
        column.visible( ! column.visible() );
      });
  });
</script>

{% endblock additional_javascript_footer %}
