{% extends 'public_interface/base.html' %}
{% load humanize %}

{% block content %}
<div class="explorer-container">
  <div class="container">
    <h3>Existing genes:</h3>

    <div class="container">
      <div class="row">

        <div class="col-xs-12 col-sm-7  col-md-6 col-md-offset-2 col-lg-6 ">
          {% if result|length > 1 %}
            <ul>

              {% for i in result %}
              <li>
                <b><a href="/genes/{{ i.gene_code }}/">{{ i.gene_code }}</a></b>
                <i>{{ i.description }}</i>
                &mdash; {{ i.length|intcomma }} bp

                <span class="badge">
                {% if i.voucher_count == 1 %}
                  <b>{{ i.voucher_count }} voucher</b>
                {% else %}
                  <b>{{ i.voucher_count|intcomma }} vouchers</b>
                {% endif %}
                </span>

              </li>
              {% endfor %}

            </ul>
          {% else %}
            <p>There are no genes to show.</p>

            <p>
               You might need to run the VoSeq's housekeeping command from the
               command line:
            </p>
                <pre>make stats</pre>

          {% endif %}
        </div><!-- col -->

      </div><!-- row -->
    </div><!-- container -->
  </div>
</div>
{% endblock content %}
