@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Reenie+Beanie);

.navbar {
    margin-bottom: 0px;
}
.jumbotron {
    background: #437487;
    color: white;
}
.jumbotron h2 {
    color: white;
}
body {
    font-size: 16px;
    font-family: 'Raleway', Verdana, Arial, sans-serif;
}

.explorer-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    clear: both;
}

#id_file_format {
    list-style-type: none;
}

#id_positions li {
    display: inline-block;
    padding-right: 15px;
}

#id_partition_by_positions li {
    display: inline-block;
    padding-right: 15px;
}

#id_degen_translations li {
    display: inline-block;
    padding-right: 15px;
}
